doctype html

html
    head
        style
            include style.css
        body
            div.footer Кондитерська майстерня "Tasty"

            block content

            div.img
                img(src='/views/cond.png', alt='image')

            div.footer Відвідайте наш сайт!
                br
                a(href=siteURL) Tasty